# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env

# VS Code
.vscode/

# Logs
*.log

# Ignore raw data
data/raw_data/

# Optional: ignore cleaned data if it contains confidential information
# data/cleaned_data/
data/raw_data/